# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (若日後使用)
Pods/

# Carthage (若日後使用)
Carthage/Build/
